// Environment variables template
// Copy this file to .env.local and fill in your Supabase credentials

NEXT_PUBLIC_SUPABASE_URL=https://ojcarmsaiuvgwfgawiyz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_dwRP9Ga5dvzNRqwj2C-GJQ_yyQI6jKi



//KjpcvGd0LrbRJ6Q6

//https://ojcarmsaiuvgwfgawiyz.supabase.co